*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
   
}
#main{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
#nav{
    overflow: hidden;
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 9999;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.navtext h1{
    font-weight: 100;
}
.navtext :hover{
    font-size: 29px;
    transition: ease 1.5s;
}
.navtext2{
    display: flex;
    align-items: center;
}
.navtext2 a{
    margin: 10px;
    color: black;
    text-decoration: none;
    font-weight: 100;   
    font-family: Arial, Helvetica, sans-serif;
     padding: 0px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.navtext2  a:hover{
    border-bottom: 2px solid rgb(49, 207, 120);
}
#hara{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 130px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 30px;
}
#hara a{
    font-size: 15px;
}
#hara #cover{
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: springgreen;
    transition: 0.8s ease;
    z-index: -1;
}
#hara:hover #cover{
    left: 0;
}
#page1{
    width: 100vw;
    height: 100vh;
}
#page1 h1{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 60px;
    font-family: CooperLtBTWXXLight;
    font-weight: 100;
    z-index: 99;    
}
#page1 h1::after{
    content: "";
    position: absolute;
    bottom: -10%;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
    height: 16px;
    background-image: url(./underline-green.svg);
}
#page1 #one {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 250px;
    height: 350px;
    object-fit: cover;
    background-position: center;
}
#page1 #two{
    position: absolute;
    top: 12%;
    left: 55%;
    width: 280px;
    height: 250px;
    object-fit: cover;
    background-position: center;
}
#page1 #three {
    position: absolute;
    top: 50%;
    left: 77%;
    width: 280px;
    height: 250px;
    object-fit: cover;
    background-position: center;
}
/* h2{
    position: absolute;
    top: 65%;
    left: 45%;
    font-weight: 200;
    gap: 20px;
    display: flex;
}
h2 >i{
    margin-bottom: 10px;
    padding: 2px 20px;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 20px;
} */
#page1-learn-more{
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 5%;
    /* background-color: red; */
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 10px;
     /* margin-left: -60px; */
}
#page1-learn-more h3{
    font-size: 25px;
    font-weight: 400;
}
#page1-cover{
    width: 60px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid rgb(11, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    overflow: hidden;
    color: white;
}
#page1-cover>i{
    display: flex;
    align-items: center;
    text-align: center;
     z-index: 99;
     position: absolute;
     color: black;
 }
#page1-cover  #page1-green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 221, 122);
    left: -100%;
    z-index: 1;
    transition: 0.8s ease;
}
#page1-cover:hover #page1-green{
  left: 0;
  z-index: 5;
}
#page2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 17, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 40px;
    position: relative;
}
#page2 #circle{
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 32.5%;
}
#page2 h4{
 font-size: 18px;
 font-family:CooperLtBTWXXLight;
}
#page2 h1{
    width: 50%;
    font-family:CooperLtBTWXXLight;
    font-weight: 100;
    font-size: 40px;
}
#page2-svg{
    width: 160px;
    height: 60px;
    position: absolute;
    top: 51%;
    left: 41.5%;
    /* background-color: red; */
}
#page2-svg img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
#page2 h4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: aliceblue;
}
#green-effect{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    width: 80px;
    border: 1px solid #fff;
    overflow: hidden;
}
#green-effect i{
    z-index: 11;
}
#green{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: springgreen;
    left: -100%;
    transition: 0.8s ease;
    z-index: 1;
}
#green-effect:hover #green{
    left: 0;
}
#page3{
 width: 100vw;
 height: 100vh;
 display: flex;
}
#left-div{
    width: 50%;
    height: 100%; 
    display: flex;
}
#left-img{
    width: 30%;
    height: 100%;
}
#left-div #left-img #four{
    width: 80%;
    object-fit: cover;
    height: 60%;
}
#left-div #left-img #five{
    width: 80%;
    object-fit: cover;
    height: 35%;
    margin-top: 10px;
}
#right-img{
    width: 70%;
    height: 100%;
}
 #right-img #six{
    width: 85%;
    object-fit: cover;
    height: 30%;
}
 #right-img #sevan{
    width: 100%;
    object-fit: cover;
    height: 65%;
    margin-top: 10px;
}
#right-div{
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#right-div h1{
    width: 40%;
    line-height: 1.2;
    margin-left: -30%;   
}
#right-div h4{
    width: 70%;
    line-height: 1.5;
}
#learn-more{
    width: 70%;
    height: 10%;
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-left: -40px;
}
#learn-more h3{
    font-size: 25px;
    font-weight: 500;
}
#learn-more .logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(100, 102, 138);
    position: relative;
    overflow: hidden;
}
#learn-more .logo #nine{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
#page3-cover{
    width: 190px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    overflow: hidden;
}
#page3-cover h4{
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
}
#page3-cover i{
    z-index: 99;
    /* background-color: red; */
    /* position: absolute; */
    margin-left:10px;
    
}
#page3-cover  #page3-green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 221, 122);
    left: -100%;
    z-index: 1;
    transition: 0.8s ease;
}
#page3-cover:hover #page3-green{
  left: 0;
  z-index: 5;
}
#page4 {
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#page4 h1{
    margin-top: 100px;
    font-size: 60px;
    width: 80%;
    font-weight: 300;
    font-family:CooperLtBTWXXLight; 
   text-align: center;
}
#page4-svg{
    width: 155px;
    height: 90px;
    /* background-color: red; */
    position: absolute;
    top: 7%;
    left: 23.6%;
}#page4-svg img{
    width: 100%;
    height: 100%;

}
#img {
    display: inline-block;
    padding: 30px 30px 30px 30px;
    width: 100%;
    line-height:5;
}
#img img{
    width: 200px ;
    height: 60px;
    margin: 20px;
    object-fit: cover;
}
#page5{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}
#page5 #page5-learn-more{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: bisque; */
    width: 30%;
    height: 10%;
    color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
#page5-logo{
    width: 45px;
    height: 45px;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Demie-Loizou-1.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1638459673&s=d95f4d84ca3dc1bf7c15f06aed800740);
    background-position: center;
    background-size: cover;
    background-color: rgb(194, 210, 216);
    border-radius: 50%;

}

#page5-cover{
    width: 170px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    overflow: hidden;
    color: white;
}
#page5-learn-more h3{
    color: rgb(24, 23, 23);
    font-weight: 500;
    font-size: 30px;

}
#page5-cover h4{
    z-index: 99;
    position: absolute;
    font-weight: 300;
    color: black;
}
#page5-cover >i{
   display: flex;
   align-items: center;
   text-align: center;
    z-index: 99;
    position: absolute;
    margin-top: 30px;
}
#page5-cover  #page5-green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 221, 122);
    left: -100%;
    z-index: 1;
    transition: 0.8s ease;
}
#page5-cover:hover #page5-green{
  left: 0;
  z-index: 5;
}
#page5 #left-img{
    width: 40%;
    height: 60%;
    position: relative;
    overflow: hidden;
}
#page5 #left-img .left-center-img {
    width: 100%;
    height: 100%;
    /* transition: all 2s; */
}
#page5 #left-img .left-center-img img{
    width: 100%;
    height: 100%;
    transition: all 2s;

}
#page5 #left-img .left-top-corner-img img{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 10%;
    left: 10%;
}
#page5 #left-img .left-bottom-corner-img{
  position: absolute;
  width: 400px;
  height: 162px;
  top: 55%;
  left: 7%;
  /* background-color: aqua; */
  color: #fff;
}
#page5 #left-img .left-bottom-corner-img h2{
     left: 5%;
     top: 70%;
     font-size: 30px;
     font-weight: 500;
  
}
.page5-green-div{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 252, 252);
    border-radius: 3px solid rgb(11, 11, 11);
    position: absolute;
    left: 55%;
    top: 70%;
    border-radius: 20px;
    z-index: 12;
    overflow: hidden;

}
.page5-green-div>i{
    z-index: 99;
    color: black;
    font-size: 20px;
    font-weight: 100;
}
.page5-left-greencover{
    background-color: springgreen;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    transition: all 1s;
    z-index: 1;
}
#page5 #left-img:hover .page5-left-greencover{
    left:0;

}

#page5 #left-img:hover .left-center-img img {
    scale: 1.2;
}

#page5 #right-img{
    width: 40%;
    height: 60%;
    position: relative;
    overflow: hidden;
}
#page5 #right-img .center-img {
    width: 100%;
    height: 100%;
    /* transition: all 2s; */
}
#page5 #right-img .center-img img{
    width: 100%;
    height: 100%;
    transition: all 2s;

}
#page5 #right-img .right-top-corner-img img{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 10%;
    left: 10%;
}
#page5 #right-img .right-bottom-corner-img{
  position: absolute;
  width: 400px;
  height: 130px;
  top: 55%;
  left: 7%;
  color: #fff;
}
#page5 #right-img:hover .center-img img {
    scale: 1.2;
}
.page5-right-green-div{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 252, 252);
    border-radius: 3px solid rgb(11, 11, 11);
    position: absolute;
    left: 55%;
    top: 87%;
    border-radius: 20px;
    z-index: 12;
    overflow: hidden;
}
.page5-right-greencover{
    background-color: springgreen;
    height: 100%;
    width: 100%;
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    left: -100%;
    transition: all 1s;
    z-index: 1;
}
.page5-right-green-div>i{
    z-index: 99;
    color: black;
    font-size: 20px;
    font-weight: 100;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#page5 #right-img:hover .page5-right-greencover{
    left:0;
}
.right-bottom-corner-img h2{
    left: 5%;
    top: 87%;
    font-size: 30px;
    font-weight: 500;
}
 
#page6{
    width: 100%;
    height: 100vh;
   
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
  }
 
  .swiper-slide img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .swiper-slide h1 {
    display: block;
    margin-top: 20px;
    width: 60%;
    height: 100px;
    font-size: 50px;
    object-fit: cover;
    margin-bottom: 120px;
    font-weight: 200;

  }
  .swiper-slide h4{
  font-weight: 100;
  position: relative;
  opacity: 1;
  margin-bottom: 5px;
  }
  .swiper-slide h4::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 32%;
    left: -15%;
    border-radius: 50%;
    background-color: springgreen;
  }
  
  .swiper-slide h6{
    font-weight: 100;
    opacity: 0.9;
    }
    #pehlavala img{
        height: 60px;
        width: 90px;
    }
    #dusravala img{
        height: 40px;
        width: 350px;
        object-fit: cover;
    }
    #tisravala img{
        height: 50px;
        width: 200px;
        object-fit: cover;
    }
    #fourthvala img{
        height: 30px;
        width: 200px;
        object-fit: cover;
    }
    #fourthvala  h1{
        margin-bottom: 170px;
    }
    
#page7{
    width: 100%;
    height: 125vh;
    /* background-color: antiquewhite; */
    position: relative;
}
#page7 #page7up{
    width: 100%;
    height: 30%;
    
}
#page7 #page7down{
    width: 100%;
    height:95%;
    position: relative;
    background-color: black;
}
#page7  #page7center{
    position: relative;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    height:40%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-239.jpg?w=1200&h=394&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002673&s=a8225dd79a8eb0d05ce0db6b2a5efd03);
    background-position: center;
    background-size: cover;
    z-index: 99;
}
#page7  #page7center h1{
    width: 75%;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    color: white;
    font-weight: 300;
    transform: translate(-50%,-50%);
}
#page7-learn-more{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 10%;
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 10px;
     margin-left: -60px;
}
#page7-logo{
    width: 45px;
    height: 45px;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Demie-Loizou-1.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1638459673&s=d95f4d84ca3dc1bf7c15f06aed800740);
    background-position: center;
    background-size: cover;
    background-color: rgb(194, 210, 216);
    border-radius: 50%;

}

#page7-cover{
    width: 240px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    overflow: hidden;
    color: white;
}
#page7-learn-more h3{
    color: white;
    font-weight: 500;
    font-size: 30px;

}
#page7-cover h4{
    z-index: 99;
    position: absolute;
    font-weight: 300;
}
#page7-cover>i{
   display: flex;
   align-items: center;
   text-align: center;
    z-index: 99;
    position: absolute;
}
#page7-cover  #page7-green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 221, 122);
    left: -100%;
    z-index: 1;
    transition: 0.8s ease;
}
#page7-cover:hover #page7-green{
  left: 0;
  z-index: 5;
}
#page7down h1{
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
    width: 25%;
    line-height: 1.5;
    font-size: 50px;
    font-weight: 300;
}
#page7-svg{
    position: absolute;
    width: 170px;
    /* background-color:     red; */
    height: 90px;
    top: 46%;
    left: 9%;
}

#page7-down-image{
    position: absolute;
    top: 38%;
    right: 8%;
    width: 140px;
    height: 330px;
    /* background-color: red; */
}
#learn{
    width: 58px;
    height: 200px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 35%;
    position: relative;
    top: 34%;


    
}
#learn h3{
    color: #fff;
    margin-bottom: 20px;
    font-size: 23px;
    border-bottom: 2px solid rgb(12, 12, 12);

}
#learn :hover{
    border-bottom: 2px solid springgreen;
}
#learn h5{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: white;
    border-bottom: 2px solid rgb(12, 12, 12);

}
#explore{
    width: 80px;
    height: 200px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 51%;
    top: 39%;
}
#explore h3{
    color: #fff;
    margin-bottom: 15px;
    font-size: 23px;
    border-bottom: 2px solid rgb(13, 13, 13);

    
}
#explore  :hover {
    border-bottom: 2px solid springgreen;

}
#explore h5{
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: white;
    width: 55px;
    border-bottom: 2px solid rgb(12, 12, 12);

}
#findus{
    width: 150px;
    height: 200px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 67%;
    top: 39%;
}
#findus h3{
    color: #fff;
    margin-bottom: 15px;
    font-size: 23px;
    
}
#findus h5{
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: white;
}
#first-img-page7{
    width: 100%;
    height : 20%;
    margin-top: 10px;
    
    /* background-color: bisque; */
}
#first-img-page7 img{
    /* width: 9%; */
    height: 110%;
    object-fit: cover;
    /* padding: 10px 10px;  */
}
#second-img-page7{
    width: 100%;
    height: 40%;
    margin-top: 5px;
    
    /* background-color: bisque; */
}
#second-img-page7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
}
#third-img-page7 {
    width: 100%;
    height: 20%;
    margin-top: 40px;
}
#third-img-page7 img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
#page7-lets-talks{
    position: absolute;
    top: 75%;
    left: 16%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 5%;
    /* background-color: red; */
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 10px;
     /* margin-left: -60px; */
}
#page7-lets-talks h3{
    font-size: 25px;
    font-weight: 400;
    color: white;
}
#page7-lets-cover{
    width: 60px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid rgb(252, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    overflow: hidden;
    color: white;
}
#page7-lets-cover>i{
    display: flex;
    align-items: center;
    text-align: center;
     z-index: 99;
     position: absolute;
     color: rgb(252, 250, 250);
 }
#page7-lets-cover  #page7-lets-green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 221, 122);
    left: -100%;
    z-index: 1;
    transition: 0.8s ease;
}
#page7-lets-cover:hover #page7-lets-green{
  left: 0;
  z-index: 5;
}
#page7 #bottom-nav{
    width: 83%;
    height: 1px;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    background-color: rgb(247, 234, 234);
    position: absolute;
    bottom: 13%;
   
}
#page7 .nav-page7 {
    position: absolute;
    bottom: 2%;
    left: 8%;
    width: 200px;
    height: 40px;
    /* background-color: red; */
}
#page7 .nav-page7 h4{
    font-size: 30px;
    color: white;
    font-weight: 100;
}
.nav2-page7{
    position: absolute;
    bottom: 3%;
    left: 30%;
    width: 460px;
    height: 20px;
}
#page7 .nav2-page7 h5{
    font-size: 15px;
    color: white;
    font-weight: 100;
}
.nav3-page7{
    position: absolute;
    bottom: 3%;
    left: 66.1%;
    width: 100px;
    height: 20px;
    /* background-color: red; */
}
#page7 .nav3-page7 h5{
    font-size: 15px;
    color: white;
    font-weight: 100;
}
.nav4-page7{
    position: absolute;
    bottom: 3%;
    left: 75%;
    width: 240px;
    height: 20px;
    /* background-color: red; */
}
#page7 .nav4-page7 h5{
    font-size: 15px;
    color: white;
    font-weight: 100;
}


/* @media (max-width: 600px){
  
    #page1{
        width: 100vw;
        height: 93vh;
        overflow: hidden;
        position: relative;
    
    }
    #page1 h1{
        position:absolute ;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        font-size: 30px;
        font-family: CooperLtBTWXXLight;
        font-weight: 300;
        z-index: 99;  
        
    }
    h2{
  
        position: absolute;
        top: 35%;
        left: 20%;
        font-weight: 200;
        gap: 20px;
        display: flex;
        z-index: 99; 
    
    }
    #page1 #one {
        position: absolute;
        top:52%;
        left: 0%;
        width: 360px;
        height: 370px;
        object-fit: cover;
        background-position: center;
    }           
    #page2{
            width: 100vw;
            height: 90vh;
            background-color: rgb(18, 17, 16);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            gap: 40px;
            position: relative;

    }
    #page2 #textone {
         font-size: 12px;   
         margin-left: 15px;
    }
    #page2 h1{
        width: 80%;
        font-family:CooperLtBTWXXLight;
        font-weight: 300;
        font-size: 20px;
        margin-left: 18px;
    }
    #page2 #circle{
        width: 10px;
        height: 10px;
        background-color: greenyellow;
        border-radius: 50%;
        position: absolute;
        top: 33.5%;
        left:6%;
    }
    #page2 h4{
        font-size: 26px;
        margin-left: -10px;
    }

    } */

